{% extends "layout.jinja2" %}
{% from "_forms.jinja2" import render_field %}

{% block title %}Create post{% endblock %}

{% block content %}
  <form method="POST" action="{{ request.route_path('posts.create') }}">
    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    <div class="text-right">
      <button class="btn btn-primary">Post</button>
    </div>
  </form>
{% endblock %}