{% extends "layout.jinja2" %}
{% from "_forms.jinja2" import render_field %}

{% block title %}Edit post{% endblock %}

{% block content %}
  <form method="POST" action="{{ request.current_route_url() }}">
    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    <div class="text-right">
      <button class="btn btn-primary">Update</button>
    </div>
  </form>
{% endblock %}