{% extends "layout.jinja2" %}

{% block title %}Posts index{% endblock %}

{% block content %}
  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ request.route_path('posts.view', post_id=post.id) }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}