{% extends "layout.jinja2" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <span>
    Written by
    <a href="{{ request.route_path('users.view', username=post.owner.username) }}">{{ post.owner.username }}</a>
    <em>{{ post.created_at.strftime("%A, %B %-d at %-I:%M:%S %p") }}</em>
    {% if request.has_permission('edit') %}
      <a href="{{ request.route_path('posts.edit', post_id=post.id) }}">Edit</a>
    {% endif %}
  </span>
  <p>{{ post.content }}</p>
{% endblock %}