<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}
    <link href="{{ request.static_path('pyramid_blog:static/css/site.css') }}" rel="stylesheet" type="text/css">
  {% endblock %}
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="sidebar">
    <h1>My Blog</h1>
    <!-- User menu -->
    <nav>
      <ul>
        {% if request.user %}
          <li><a href="{{ request.route_path('posts.create') }}">New Post</a></li>
          <li><a href="{{ request.route_path('users.view', username=request.user.username) }}">My profile</a></li>
          <li><a href="{{ request.route_path('users.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ request.route_path('users.login') }}">Login</a></li>
          <li><a href="{{ request.route_path('users.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="content">
    {% macro flash(queue) %}
      {% if request.session.peek_flash(queue) %}
        {% for message in request.session.pop_flash(queue) %}
          <div class="flash flash-{{ queue }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    {{ flash('error') }}
    {{ flash('warning') }}
    {{ flash('success') }}
    {% block content %}{% endblock %}
  </div>
</body>
</html>