{% extends "layout.jinja2" %}
{% from "_forms.jinja2" import render_field %}

{% block title %}Login{% endblock %}

{% block content %}
  <form action="{{ request.route_path('users.login') }}" method="POST">
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <div class="text-right">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
{% endblock %}