{% extends "layout.jinja2" %}
{% from '_forms.jinja2' import render_field %}

{% block title %}Register{% endblock %}

{% block content %}
  <form method="POST" action="{{ request.route_path('users.register') }}">
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    <div class="text-right">
      <button class="btn btn-default">
        Submit
      </button>
    </div>
  </form>
{% endblock %}