{% extends "layout.jinja2" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <h2>Posts by {{ user.username }}</h2>
  <ul>
    {% for post in posts %}
      <li><a href="{{ request.route_path('posts.view', post_id=post.id) }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}