html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    background: black;
    color: white;
}

.content {
    flex: 1;
    padding: 0.5em;
}

/** NAVIGATION */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li a {
    display: block;
    padding: 0.5em;
    width: 100%;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
}


.text-right {
    text-align: right;
}

/** FLASH MESSAGES */
.flash {
    color: white;
    margin: 1em;
    padding: 1em;
}

.flash-error {
    background: hsl(0, 50%, 50%);
}

.flash-warning {
    background: hsl(60, 50%, 50%);
}

.flash-success {
    background: hsl(120, 50%, 50%);
}

/** FORMS */
.form-control {
    display: block;
    border: 1px solid #eee;
    padding: 0.5em;
    width: 100%;
    margin: 0;
}

.form-group {
    margin-bottom: 0.5em;
}

.btn {
    font-size: 1em;
    background: #ccc;
    color: black;
    border: none;
    padding: 0.5em;
}

.btn-primary {
    background: hsl(210, 50%, 50%);
    color: white;
}